.about {
  background-color: $blue-white;
  background-image: url("../img/about-mobile@1x.png");
}

.about .container {
  padding-left: 50px;
  padding-right: 50px;
}

.about .button {
  display: none;
}

@media only screen and (min-width: $tablet-width) {
  .about .container {
    padding-left: 60px;
    padding-right: 350px;
  }

  .about .button {
    display: block;
    width: 275px;
  }
}

@media only screen and (min-width: $desktop-width) {
  .about .container {
    padding-left: 100px;
    padding-right: 650px;
  }
}
