.add-plan {
  background-color: #d4d9eb;
  position: relative;
  z-index: 20;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  margin-bottom: -30px;
  padding-bottom: 30px;
}

.add-plan__title {
  @include set-font(24px, 24px, 700);
  color: #1d2e5b;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.add-plan .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 27px;
  padding-bottom: 45px;
}

.add-plan__nav {
  margin-top: 3px;
  margin-right: 3px;
}

.add-plan__nav-link {
  @include circle(5px, #1d2e5b);
  display: inline-block;
  vertical-align: middle;
  margin-right: 14px;
  opacity: 0.3;

  &[href] {
    margin-right: 12px;
    opacity: 1;
  }
}

@media only screen and (min-width: $tablet-width) {
  .add-plan {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    margin-bottom: -55px;
    padding-bottom: 51px;
  }

  .add-plan .container {
    padding-top: 49px;
    padding-bottom: 65px;
    padding-left: 55px;
    padding-right: 55px;
  }

  .add-plan__title {
    @include set-font(36px, 40px, 700);
    margin-bottom: 57px;
  }

  .add-plan__nav {
    margin-top: 10px;
    margin-right: 0;
  }

  .add-plan__nav-link {
    margin-right: 0;
    margin-left: 24px;

    &[href] {
      margin-right: 0;
    }
  }
}

@media only screen and (min-width: $desktop-width) {
  .add-plan {
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
  }

  .add-plan .container {
    padding-bottom: 76px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .add-plan__nav {
    display: none;
  }

  .add-plan__title {
    margin-bottom: 59px;
    margin-left: 69px;
  }
}
