.catalog-main {
  background-color: #edeff6;
  position: relative;
  z-index: 4;
  margin-bottom: -30px;
  padding-bottom: 30px;
}

.catalog-main .travel-filter {
  margin-top: 75px;
}

.catalog-main .companions-catalog {
  margin-top: 25px;
  padding-bottom: 45px;
}

@media only screen and (min-width: $tablet-width) {
  .catalog-main {
    margin-bottom: -60px;
    padding-bottom: 60px;
  }

  .catalog-main .travel-filter {
    margin-top: 182px;
  }

  .catalog-main .companions-catalog {
    margin-top: 40px;
    padding-bottom: 60px;
  }
}

@media only screen and (min-width: $desktop-width) {
  .catalog-main__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .catalog-main .companions-catalog {
    margin-top: 0;
    padding-bottom: 0;
  }

  .catalog-main__content .travel-filter {
    width: 21.2%;
    order: 1;
    margin-top: 0;
  }
}
