.catalog-main {
  background-color: #edeff6;
  position: relative;
  z-index: 4;
  margin-bottom: -30px;
  padding-bottom: 30px;
}

.catalog-main .catalog-main__filter {
  margin-top: 76px;
}

.catalog-main .catalog-main__companions {
  margin-top: 28px;
  padding-bottom: 45px;
}

@media only screen and (min-width: $tablet-width) {
  .catalog-main {
    margin-bottom: -60px;
    padding-bottom: 60px;
  }

  .catalog-main .catalog-main__filter {
    margin-top: 182px;
  }

  .catalog-main .companions-catalog {
    margin-top: 38px;
    padding-bottom: 62px;
  }
}

@media only screen and (min-width: $desktop-width) {
  .catalog-main__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 90px;
    padding-bottom: 78px;
  }

  .catalog-main .catalog-main__companions {
    margin-top: 0;
    padding-bottom: 0;
  }

  .catalog-main .catalog-main__filter {
    width: 21.5%;
    order: 1;
    margin-top: 0;
    padding-top: 46px;
    padding-right: 48px;
    padding-bottom: 42px;
  }
}
