.checkbox {
  cursor: pointer;

  &:focus-within {
    outline: auto 1px rgb(113, 156, 210);
  }
}

.checkbox__text {
  @include set-font(15px, 15px, 400);
  color: $grey;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 2;

  &::before {
    content: "";
    width: 18px;
    height: 18px;
    display: block;
    background-color: #ffffff;
    border-radius: 3px;
    margin-right: 10px;
  }
}

.checkbox__transport {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  margin-right: 0;
  border-radius: 50%;

  &:hover {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:hover .checkbox__transport-icon {
    opacity: 0.3;
  }

  &:active {
    background-color: #e2e5f1;
  }

  &:active .checkbox__transport-icon {
    opacity: 0.1;
  }
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  &:checked + .checkbox__text::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 9px;
    height: 9px;
    display: block;
    background-image: url("../img/tick.svg");
    background-size: 9px 9px;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateX(50%) translateY(50%);
    z-index: 3;
  }

  &:checked + .checkbox__transport .checkbox__transport-icon {
    opacity: 1;
  }

  &:checked + .checkbox__transport:hover .checkbox__transport-icon {
    opacity: 0.7;
  }

  &:checked + .checkbox__transport:active .checkbox__transport-icon {
    opacity: 0.3;
  }
}

.checkbox--bordered {
  & .checkbox__text::before {
    border: 1px solid #cbced9;
    width: 26px;
    height: 26px;
    margin-right: 14px;
  }

  & .checkbox__input:checked + .checkbox__text::after {
    width: 26px;
    height: 26px;
    top: -13px;
    left: -13px;
  }

  &:focus-within .checkbox__text::before {
    border-color: #959bb2;
  }

  &:hover .checkbox__text::before {
    border-color: #959bb2;
  }

  &:active .checkbox__text::before {
    border: 0 none;
    background-color: #e2e5f1;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active .checkbox__input:checked + .checkbox__text::after {
    opacity: 0.3;
  }
}

.checkbox--catalog {
  &:hover .checkbox__text {
    color: rgba($grey, 0.6);
  }

  &:hover .checkbox__text::before {
    opacity: 0.6;
  }

  &:focus-within .checkbox__text {
    color: rgba($grey, 0.6);
  }

  &:focus-within .checkbox__text::before {
    opacity: 0.6;
  }

  &:active .checkbox__text {
    color: rgba($grey, 0.3);
  }

  &:active .checkbox__text::before {
    opacity: 0.3;
  }

  &:active .checkbox__text::after {
    opacity: 0.2;
  }
}

@media only screen and (min-width: $tablet-width) {
  .checkbox__text {
    @include set-font(20px, 20px, 400);

    &::before {
      border-radius: 5px;
      width: 24px;
      height: 24px;
      margin-right: 12px;
    }
  }

  .checkbox .transport__item {
    width: 43px;
    height: 43px;
  }

  .checkbox .checkbox__transport-icon {
    width: 24px;
    height: 21px;
  }

  .checkbox__input {
    &:checked + .checkbox__text::after {
      width: 12px;
      height: 12px;
    }
  }

  .checkbox--bordered {
    & .checkbox__text::before {
      width: 36px;
      height: 36px;
      border-radius: 3px;
      margin-right: 24px;
    }

    & .checkbox__input:checked + .checkbox__text::after {
      width: 36px;
      height: 36px;
      background-size: 12px 12px;
      top: -18px;
      left: -18px;
    }
  }
}
