.companions {
  @include set-bb-radius(30px);
  position: relative;
  margin-top: -30px;
  padding-top: 30px;
  z-index: 17;
  background-color: $blue-black;
  background-image: url("../img/smolov-back-desktop@1x.png"), url("../img/rogovaya-back-mobile@1x.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 143px auto, 61px auto;
  background-position: top 40px right 25px, top 310px left 0;

  @media (min-resolution: 1.5dppx) {
    background-image: url("../img/smolov-back-desktop@2x.png"), url("../img/rogovaya-back-mobile@2x.png");
  }

  @media only screen and (min-width: $tablet-width) {
    background-image: url("../img/smolov-back-desktop@1x.png"), url("../img/rogovaya-back-desktop@1x.png");
    background-size: 143px auto, 285px auto;
    background-position: top 420px left 40px, top 80px right 75px;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/smolov-back-desktop@2x.png"), url("../img/rogovaya-back-desktop@2x.png");
    }
  }

  @media only screen and (min-width: $desktop-width) {
    background-position: top 130px left 510px, top 380px left 160px;
  }
}

.companions .container {
  position: relative;
  padding-top: 70px;
  padding-bottom: 110px;
}

.companions__list {
  @include ul-style-reset;
  margin-top: 55px;
}

.companions__info {
  padding-left: 25px;
  padding-right: 25px;
}

.companions__show-btn {
  position: absolute;
  bottom: 30px;
  left: 25px;
  width: calc(100% - 25px * 2);
  border-radius: 10px;
  color: #1d2e5b;
  padding-left: 23px;
  padding-right: 23px;
}

.companions .content-title {
  margin-bottom: 20px;
}

.companions .content-text {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.companions__list .companion {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: $tablet-width) {
  .companions {
    @include set-bb-radius(60px);
    margin-top: -60px;
    padding-top: 60px;
  }

  .companions .container {
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 140px;
    padding-bottom: 250px;
  }

  .companions__show-btn {
    bottom: 85px;
    left: 55px;
    width: calc(100% - 55px * 2);
    border-radius: 15px;
    padding-left: 35px;
    padding-right: 35px;
  }

  .companions__info {
    padding-left: 0;
    padding-right: 220px;
  }

  .companions__list {
    display: flex;
    margin-top: 60px;
  }

  .companions__list .companion {
    margin-right: 50px;
    flex-grow: 1;
    min-width: 285px;
    margin-bottom: 0;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .companions .content-title {
    margin-bottom: 50px;
  }

  .companions .content-text {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media only screen and (min-width: $desktop-width) {
  .companions .container {
    display: flex;
    padding-top: 125px;
    padding-bottom: 135px;
  }

  .companions__show-btn {
    position: static;
    display: flex;
    width: 280px;
  }

  .companions__info {
    padding-right: 0;
    margin-right: 190px;
  }

  .companions__list {
    margin-top: 0;
  }

  .companions__list .companion {
    margin-right: 60px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

