.companion-catalog {
  position: relative;
}

.companion-catalog__name {
  @include set-font(20px, 20px, 700);
  color: #1d2e5b;
  margin-top: 0;
  margin-bottom: 0;
  order: -2;
  margin-left: 80px;
  width: 100%;
}

.companion-catalog__likes {
  @include set-font(14px, 21px, 700);
  color: $blue-black;
}

.companion-catalog .tags {
  justify-content: flex-start;
  margin-left: 0;
  margin-top: 40px;
}

.companion-catalog__fieldset {
  @include set-font(15px, 18px, 400);
  color: $grey;
}

.companion-catalog__countries {
  @include ul-style-reset;
}

.companion-catalog__country {
  @include set-font(15px, 18px, 500);
  color: #1d2e5b;
  text-transform: uppercase;
}

.companion-catalog .transport {
  justify-content: flex-start;
}

.companion-catalog__level {
  @include set-font(24px, 18px, 700);
  color: #1d2e5b;
}

.companion-catalog__transport-level {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.companion-catalog__main-info {
  display: flex;
  flex-wrap: wrap;
}

.companion-catalog__image {
  position: absolute;
  top: 0;
  left: 0;
}

.companion-catalog__cta {
  order: -1;
  width: 100%;
  position: relative;
  z-index: 1;
}

.companion-catalog__heart {
  margin-left: 70px;
}

.companion-catalog__btn {
  order: 1;
  position: absolute;
  bottom: -100px;
  left: 0;
  display: block;
  width: 100%;
}
