.companion-catalog {
  position: relative;
  background-color: #ffffff;
  padding: 15px 16px 81px 15px;
  border-radius: 15px;
  margin-bottom: 11px;

  &:hover {
    box-shadow: 0 6px 21px 0 rgba(0, 0, 0, 0.1);
  }

  &:focus-within {
    box-shadow: 0 6px 21px 0 rgba(0, 0, 0, 0.1);
  }

  &:hover .companion-catalog__image {
    transform: scale(1.05);
    transition: transform 0.5s ease-out;
  }

  &:focus-within .companion-catalog__image {
    transform: scale(1.05);
    transition: transform 0.5s ease-out;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.companion-catalog__image-wrapper {
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 18px;
  display: block;
  overflow: hidden;
}

.companion-catalog__image {
  display: block;
  transition: transform 0.5s ease-in-out;
}

.companion-catalog__name {
  @include set-font(20px, 20px, 700);
  color: #1d2e5b;
  padding-left: 90px;
  padding-right: 30px;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background-color: #f97676;
    border-radius: 50%;
    top: 9px;
    right: 7px;
  }

  &--online::after {
    background-color: #81e31e;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.companion-catalog .companion-catalog__button {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: calc(100% - 40px);
  text-transform: uppercase;
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 50px;
}

.companion-catalog__likes {
  @include set-font(14px, 21px, 700);
  color: $blue-black;
  margin-left: 53px;
  margin-right: auto;
  margin-top: 5px;
  position: relative;
  z-index: 1;
  padding: 0;
  padding-left: 36px;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    bottom: 50%;
    transform: translateY(50%);
    opacity: 0.3;
    left: 0;
    background-color: transparent;
    background-image: url("../img/heart.svg");
    background-size: 31px 11px;
    background-position: center;
    background-repeat: no-repeat;
  }

  &:hover::before,
  &:focus::before {
    background-color: #e2e5f2;
    opacity: 1;
  }

  &:active::before {
    background-color: #e2e5f2;
    opacity: 0.1;
  }

  &--favourite::before {
    background-color: #f9eaea;
    background-image: url("../img/heart-active.svg");
    opacity: 1;
  }

  &--favourite:hover::before,
  &--favourite:focus::before {
    background-color: #f9d8d8;
  }

  &--favourite:active::before {
    opacity: 0.3;
  }
}

.companion-catalog__info-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.companion-catalog .companion-catalog__tags {
  margin-top: 18px;
  margin-left: 9px;
  margin-right: 26px;
  order: 1;
  justify-content: flex-start;
}

.companion-catalog__fieldset {
  @include set-font(15px, 18px, 400);
  color: $grey;
  padding-top: 14px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-color: #edeff6;
    width: 270px;
    height: 1px;
    top: 22px;
    right: -20px;
    z-index: 1;
  }
}

.companion-catalog__countries {
  @include ul-style-reset;
  padding: 17px 10px 0 10px;
}

.companion-catalog__country {
  @include set-font(15px, 18px, 500);
  color: #1d2e5b;
  text-transform: uppercase;
  margin-bottom: 10px;
  display: flex;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.companion-catalog .transport {
  justify-content: flex-start;
  order: 1;
  width: auto;
  margin-top: 14px;
  margin-left: 10px;
}

.companion-catalog__level {
  order: 2;
  width: auto;
  margin-top: 18px;
  margin-right: 13px;
  position: relative;
}

.companion-catalog__level-circle {
  position: absolute;
  transform: rotate(-90deg);
  top: -17px;
  left: -12px;
}

.companion-catalog__level-number {
  @include set-font(24px, 18px, 700);
  color: #1d2e5b;
}

.companion-catalog__level-description {
  display: none;
}

.companion-catalog__fieldset--transport-level {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.companion-catalog__country-img {
  display: block;
}

.companion-catalog__country-wrapper {
  margin-right: 15px;
}

.companion-catalog .transport__item {
  width: 32px;
  height: 32px;
  background-color: #edeff6;
  border-radius: 50%;
  margin-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.companion-catalog__fieldset-title {
  background-color: #ffffff;
  position: relative;
  z-index: 2;
  padding-left: 11px;
  padding-right: 7px;
}

.companion-catalog .companion-catalog__tags-item {
  margin-right: 2px;
}

.companion-catalog__mt5 {
  margin-top: 5px;
}

.companion-catalog__mt3 {
  margin-top: 3px;
}

@media only screen and (min-width: $tablet-width) {
  .companion-catalog {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 35px;
    padding-bottom: 107px;
    margin-bottom: 40px;
  }

  .companion-catalog__fieldset {
    position: static;
    padding-top: 0;

    &::before {
      display: none;
    }
  }

  .companion-catalog__info-main {
    display: block;
    width: 310px;
    padding-left: 28px;
  }

  .companion-catalog__name {
    @include set-font(30px, 30px, 700);
    padding-left: 0;
    padding-right: 0;
    margin-left: 5px;
    margin-top: -3px;
    justify-content: flex-start;
    align-items: center;

    &::after {
      position: relative;
      display: block;
      margin-top: 0;
      margin-bottom: 16px;
      margin-left: 30px;
      width: 7px;
      height: 7px;
    }

    & br {
      display: none;
    }
  }

  .companion-catalog .companion-catalog__button {
    @include set-font(20px, 30px, 700);
    position: static;
    width: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 33px;
    padding-right: 33px;
  }

  .companion-catalog__likes {
    @include set-font(20px, 30px, 700);
    margin-left: 0;
    margin-right: 0;
    padding-left: 51px;

    &::before {
      width: 50px;
      height: 50px;
      background-size: 20px 17px;
      left: -4px;
    }
  }

  .companion-catalog .companion-catalog__tags {
    order: 0;
    margin-bottom: 52px;
  }

  .companion-catalog .companion-catalog__tags-item {
    line-height: 24px;
  }

  .companion-catalog__fieldset-title {
    display: none;
  }

  .companion-catalog__fieldset-title--countries {
    display: block;
    position: absolute;
    width: auto;
    bottom: 68px;
    left: 73px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ffffff;
  }

  .companion-catalog__info-other {
    margin-left: auto;
  }

  .companion-catalog .companion-catalog__transport {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    margin-left: 0;
  }

  .companion-catalog__fieldset--transport-level {
    flex-direction: column;
    align-items: flex-start;
  }

  .companion-catalog__countries {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    bottom: 22px;
    right: 44px;
    width: calc(100% - 70px);

    &::before {
      position: absolute;
      content: "";
      background-color: #edeff6;
      width: 688px;
      height: 1px;
      top: -7px;
      left: -26px;
    }
  }

  .companion-catalog__image-wrapper {
    position: static;
    border-radius: 15px;
  }

  .companion-catalog__country {
    @include set-font(20px, 30px, 500);
    margin-bottom: 0;
    margin-right: 29px;

    &:last-child {
      margin-right: 0;
    }
  }

  .companion-catalog__country-img {
    width: 35px;
    height: 24px;
  }

  .companion-catalog__country-wrapper {
    margin-right: 10px;
  }

  .companion-catalog .companion-catalog__transport-item {
    width: auto;
    height: auto;
    background-color: transparent;
    border-radius: 0;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .companion-catalog__level {
    margin-top: 30px;
    margin-right: 8px;
  }

  .companion-catalog__level-circle {
    width: 65px;
    height: 65px;
    stroke-width: 3px;
    right: auto;
    bottom: auto;
    top: -18px;
    left: -17px;
  }

  .companion-catalog__level-number {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      left: 0;
      bottom: 0;
      background-color: #000000;
      opacity: 0.1;
    }
  }

  .companion-catalog__level-description {
    display: block;
    opacity: 0.4;
  }

  .companion-catalog__mt5 {
    display: none;
  }

  .companion-catalog__mt3 {
    display: none;
  }
}

@media only screen and (min-width: $desktop-width) {
  .companion-catalog {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: auto;
    padding: 0;
    margin-bottom: 30px;
  }

  .companion-catalog .companion-catalog__tags-item {
    margin-right: 6px;
  }

  .companion-catalog__info-other {
    margin-left: 41px;
    margin-top: 50px;
    padding-left: 0;
    padding-right: 54px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 186px;
  }

  .companion-catalog__info-main {
    width: 285px;
    margin-top: 50px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 53px;

    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 1px;
      opacity: 0.1;
      height: 95px;
      left: 630px;
    }

    &::after {
      top: 145px;
      background: linear-gradient(to bottom, #000000, #ffffff);
    }

    &::before {
      top: 50px;
      background: linear-gradient(to top, #000000, #ffffff);
    }
  }

  .companion-catalog .companion-catalog__transport {
    flex-direction: row;
    margin-top: 0;
  }

  .companion-catalog__fieldset--transport-level {
    flex-direction: row;
    align-items: center;
    margin-left: 7px;
    display: flex;
    flex-wrap: wrap;
  }

  .companion-catalog__countries {
    position: static;
    display: block;
    width: auto;
    padding-top: 0;
    margin-top: -2px;

    &::before {
      display: none;
    }
  }

  .companion-catalog__fieldset-title--countries {
    display: none;
  }

  .companion-catalog__country {
    margin-bottom: 7px;
    margin-right: 0;
    letter-spacing: -0.3px;

    &:last-child {
      margin-right: 0;
    }
  }

  .companion-catalog__level {
    margin-top: 5px;
    margin-left: 65px;
  }

  .companion-catalog__country-wrapper {
    margin-right: 20px;
  }

  .companion-catalog .companion-catalog__transport-item {
    margin-bottom: 0;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  .companion-catalog__name {
    display: block;
    position: relative;

    &::after {
      position: absolute;
      bottom: 50%;
      transform: translateY(50%);
      left: -24px;
      margin: 0;
    }
  }
}
