.companions {
  background-color: $blue-black;
}

.companions .container {
  position: relative;
  padding-top: 70px;
  padding-bottom: 110px;
}

.companions__list {
  @include ul-style-reset;
}

.companions__info {
  padding-left: 25px;
  padding-right: 25px;
}

.companions__show-btn {
  position: absolute;
  bottom: 30px;
  left: 25px;
  width: calc(100% - 25px * 2);
}

@media only screen and (min-width: $tablet-width) {
  .companions .container {
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 140px;
    padding-bottom: 250px;
  }

  .companions__show-btn {
    bottom: 85px;
    left: 55px;
    width: calc(100% - 55px * 2);
  }

  .companions__info {
    padding-left: 0;
    padding-right: 220px;
  }

  .companions__list {
    display: flex;
  }

  .companions__list .companion {
    margin-right: 50px;
    flex-grow: 1;
    min-width: 285px;
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

@media only screen and (min-width: $desktop-width) {
  .companions .container {
    display: flex;
    padding-top: 125px;
    padding-bottom: 130px;
  }

  .companions__show-btn {
    position: static;
    display: block;
    width: 280px;
  }

  .companions__info {
    padding-right: 0;
    margin-right: 190px;
  }

  .companions__list .companion {
    margin-right: 60px;
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

