.companion-catalog {
  position: relative;
  background-color: #ffffff;
  padding: 15px 20px 80px 20px;
  border-radius: 15px;

  &:hover {
    box-shadow: 0 6px 21px 0 rgba(0, 0, 0, 0.1);
  }

  &:focus-within {
    box-shadow: 0 6px 21px 0 rgba(0, 0, 0, 0.1);
  }

  &:hover .companion-catalog__image {
    transform: scale(1.05);
    transition: transform 0.5s ease-out;
  }

  &:focus-within .companion-catalog__image {
    transform: scale(1.05);
    transition: transform 0.5s ease-out;
  }
}

.companion-catalog__image-wrapper {
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 18px;
  display: block;
  overflow: hidden;
}

.companion-catalog__image {
  display: block;
  transition: transform 0.5s ease-in-out;
}

.companion-catalog__name {
  @include set-font(20px, 20px, 700);
  color: #1d2e5b;
  padding-left: 85px;
  padding-right: 25px;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;

  &::after {
    content: "";
    display: block;
    margin-top: 5px;
    width: 5px;
    height: 5px;
    background-color: #f97676;
    border-radius: 50%;
  }

  &--online::after {
    background-color: #81e31e;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.companion-catalog .button {
  position: absolute;
  bottom: 22px;
  left: 20px;
  width: calc(100% - 40px);
  text-transform: uppercase;
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 50px;
}

.companion-catalog__likes {
  @include set-font(14px, 21px, 700);
  color: $blue-black;
  margin-left: 47px;
  margin-right: auto;
  margin-top: 5px;
  position: relative;
  z-index: 1;
  padding: 0;
  padding-left: 40px;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    bottom: 50%;
    transform: translateY(50%);
    opacity: 0.3;
    left: 0;
    background-color: transparent;
    background-image: url("../img/heart.svg");
    background-size: 31px 11px;
    background-position: center;
    background-repeat: no-repeat;
  }

  &:hover::before,
  &:focus::before {
    background-color: #e2e5f2;
    opacity: 1;
  }

  &:active::before {
    background-color: #e2e5f2;
    opacity: 0.1;
  }

  &--favourite::before {
    background-color: #f9eaea;
    background-image: url("../img/heart-active.svg");
    opacity: 1;
  }

  &--favourite:hover::before,
  &--favourite:focus::before {
    background-color: #f9d8d8;
  }

  &--favourite:active::before {
    opacity: 0.3;
  }
}

.companion-catalog__info-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.companion-catalog .tags {
  margin-top: 20px;
  order: 1;
  justify-content: flex-start;
}

.companion-catalog__fieldset {
  @include set-font(15px, 18px, 400);
  color: $grey;
  padding-top: 16px;
}

.companion-catalog__countries {
  @include ul-style-reset;
  padding-top: 15px;
}

.companion-catalog__country {
  @include set-font(15px, 18px, 500);
  color: #1d2e5b;
  text-transform: uppercase;
  margin-bottom: 10px;
  display: flex;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.companion-catalog .transport {
  justify-content: flex-start;
  order: 1;
  width: 70%;
  margin-top: 10px;
}

.companion-catalog__level {
  @include set-font(24px, 18px, 700);
  text-align: right;
  color: #1d2e5b;
  order: 2;
  width: 30%;
  margin-top: 10px;
}

.companion-catalog__fieldset--transport-level {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.companion-catalog__country-img {
  display: block;
}

.companion-catalog__country-wrapper {
  margin-right: 15px;
}

.companion-catalog .transport__item {
  width: 32px;
  height: 32px;
  background-color: #edeff6;
  border-radius: 50%;
  margin-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: $tablet-width) {
  .companion-catalog {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 35px;
    padding-bottom: 105px;
  }

  .companion-catalog__fieldset {
    padding-top: 0;
  }

  .companion-catalog__info-main {
    display: block;
    width: 310px;
    padding-left: 30px;
  }

  .companion-catalog__name {
    padding-left: 0;
    padding-right: 0;
    justify-content: flex-start;
    align-items: center;

    &::after {
      margin-top: 0;
      margin-left: 20px;
    }
  }

  .companion-catalog .button {
    @include set-font(20px, 30px, 700);
    position: static;
    width: auto;
  }

  .companion-catalog__likes {
    @include set-font(20px, 30px, 700);
    margin-left: 0;
    margin-right: 0;
    padding-left: 51px;

    &::before {
      width: 50px;
      height: 50px;
      background-size: 20px 17px;
      left: -4px;
    }
  }

  .companion-catalog .tags {
    order: 0;
    margin-bottom: 50px;
  }

  .companion-catalog__fieldset-title {
    display: none;
  }

  .companion-catalog__fieldset-title--countries {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 70px;
    right: 0;
    padding-left: 85px;
  }

  .companion-catalog__info-other {
    margin-left: auto;
  }

  .companion-catalog .transport {
    display: flex;
    flex-direction: column;
  }

  .companion-catalog__fieldset--transport-level {
    flex-direction: column;
    align-items: flex-start;
  }

  .companion-catalog__countries {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    bottom: 25px;
    right: 35px;
    width: calc(100% - 70px);
  }

  .companion-catalog__image-wrapper {
    position: static;
    border-radius: 15px;
  }

  .companion-catalog__country {
    @include set-font(20px, 30px, 500);
    margin-bottom: 0;
    margin-right: 25px;

    &:last-child {
      margin-right: 0;
    }
  }

  .companion-catalog__country-img {
    width: 35px;
    height: 24px;
  }

  .companion-catalog__country-wrapper {
    margin-right: 10px;
  }

  .companion-catalog .transport__item {
    width: auto;
    height: auto;
    background-color: transparent;
    border-radius: 0;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media only screen and (min-width: $desktop-width) {
  .companion-catalog {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: 0;
  }

  .companion-catalog__info-other {
    margin-left: 0;
    margin-top: 50px;
    padding-right: 45px;
    padding-left: 45px;
  }

  .companion-catalog__info-main {
    width: auto;
    margin-top: 50px;
    padding-right: 50px;
    padding-left: 35px;
  }

  .companion-catalog .transport {
    flex-direction: row;
    margin-top: 0;
  }

  .companion-catalog__fieldset--transport-level {
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
  }

  .companion-catalog__fieldset {

    &--transport-level {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  .companion-catalog__countries {
    position: static;
    display: block;
    width: auto;
    padding-top: 0;
  }

  .companion-catalog__fieldset-title--countries {
    display: none;
  }

  .companion-catalog__country {
    margin-bottom: 10px;
    margin-right: 0;

    &:last-child {
      margin-right: 0;
    }
  }

  .companion-catalog__level {
    margin-top: 0;
  }

  .companion-catalog__country-wrapper {
    margin-right: 20px;
  }

  .companion-catalog .transport__item {
    margin-bottom: 0;
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  .companion-catalog__name {
    display: block;
    position: relative;

    &::after {
      position: absolute;
      bottom: 50%;
      transform: translateY(50%);
      left: -18px;
      margin: 0;
    }
  }
}
