.contacts-list {
  @include ul-style-reset;
  display: flex;
  flex-wrap: wrap;
}

.contacts-list__link {
  @include set-font(16px, 22px, 700);
  color: $blue-white;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  &--yellow {
    color: $yellow;
  }

  &--yellow:hover,
  &--yellow:focus {
    color: #ffbd30;
  }

  &--yellow:hover svg,
  &--hellow:focus svg {
    fill: #ffbd30;
  }

  &--yellow:active {
    color: rgba(#ffbd30, 0.3);
  }

  &--yellow:active svg {
    fill: #ffbd30;
    opacity: 0.3;
  }
}

.contacts-list__img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;

  &--tel {
    background-color: $orange;
  }

  &--tel:hover,
  &--tel:focus {
    background-color: #f26926;
  }

  &--mail {
    background-color: #ffbd30;
  }

  &--mail:hover,
  &--mail:focus {
    background-color: #ff8d30;
  }

  & svg {
    fill: $blue-black;
  }

  &:active svg {
    opacity: 0.3;
  }
}

.contacts-list__auth {
  width: 100%;
  margin-bottom: 50px;
}

.contacts-list__auth .button {
  display: block;
  width: 100%;

  &:hover,
  &:focus {
    background-color: #ffbd30;
  }

  &:active {
    color: rgba($blue-black, 0.3);
  }
}

.contacts-list__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121936;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-right: 15px;

  & svg {
    fill: $yellow;
  }
}

@media only screen and (min-width: $tablet-width) {
  .contacts-list__link {
    @include set-font(28px, 28px, 700);
  }

  .contacts-list__icon {
    width: 60px;
    height: 60px;
    margin-right: 20px;

    & svg {
      width: 27px;
      height: 27px;
    }
  }
}

@media only screen and (min-width: $desktop-width) {
  .contacts-list__auth {
    width: auto;
    margin-bottom: 0;
  }

  .contacts-list__img {
    width: 50px;
    height: 50px;
  }
}
