.contacts {
  background-color: $yellow;
}

.contacts .container {
  padding-top: 30px;
  padding-bottom: 35px;
}

.contacts__link {
  @include set-font(16px, 22px, 700);
  text-transform: uppercase;
  color: $blue-white;
  display: flex;
  align-items: center;
}

.contacts .button {
  display: flex;
  width: 100%;
  margin-top: 30px;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
}

.contacts__location {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 45px;
  height: 45px;
  background-color: #121936;
  border-radius: 50%;
  margin-right: 15px;

  & svg {
    fill: $yellow;
  }
}

@media only screen and (min-width: $tablet-width) {
  .contacts .container {
    padding-top: 45px;
    padding-bottom: 85px;
    padding-left: 55px;
    padding-right: 55px;
  }

  .contacts__link {
    @include set-font(28px, 28px, 700);
  }

  .contacts .button {
    margin-top: 45px;
    padding: 26px 34px;
  }

  .contacts__location {
    width: 68px;
    height: 68px;
    margin-right: 25px;

    & svg {
      width: 21px;
      height: 32px;
    }
  }
}


@media only screen and (min-width: $desktop-width) {
  .contacts .container {
    padding: 55px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .contacts .button {
    margin-top: 0;
    width: 325px;
  }
}
