.continents {
  @include ul-style-reset;
}

.continents__item {
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}

.continents__link {
  @include set-font(16px, 22px, 700);
  color: $blue-white;
  text-transform: uppercase;
  opacity: 0.3;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 1;
  }
}

@media only screen and (min-width: $tablet-width) {
  .continents__link {
    @include set-font(20px, 24px, 700);
  }

  .continents__item {
    margin-right: 25px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}
