.content-text {
  @include set-font(16px, 22px, 300);
  font-style: normal;
  margin-top: 0;
  margin-bottom: 0;

  &--bold {
    font-weight: 700;
  }

  &--grey {
    color: $grey;
  }

  &--regular {
    font-weight: 400;
  }
}

@media only screen and (min-width: $tablet-width) {
  .content-text {
    @include set-font(28px, 33px, 300);

    &--bold {
      @include set-font(21px, 25px, 700);
    }
  }
}
