.copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;

  & .copyright__text {
    margin-top: 4px;
  }

  &:hover .copyright__link {
    opacity: 0.6;
  }

  &:hover .copyright__text {
    color: rgba($grey, 0.6);
  }

  &:focus-within .copyright__link {
    opacity: 0.6;
  }

  &:focus-within .copyright__text {
    color: rgba($grey, 0.6);
  }

  &:active .copyright__link {
    opacity: 0.3;
  }

  &:active .copyright__text {
    color: rgba($grey, 0.3);
  }
}

@media only screen and (min-width: $tablet-width) {
  .copyright {
    padding-top: 0;

    & .copyright__text {
      @include set-font(20px, 24px, 400);
      margin-top: 3px;
    }
  }

  .copyright__link {
    margin-left: 25px;
  }
}

@media only screen and (min-width: $desktop-width) {
  .copyright .copyright__text {
    margin-top: 0;
  }
}
