.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}

@media only screen and (min-width: $tablet-width) {
  .copyright {
    padding-top: 0;
  }
}
