.countries {
  display: none;
  @include ul-style-reset;

  &--active {
    display: block;
  }
}

.countries__link {
  @include set-font(16px, 22px, 400);
  color: $grey;
}

.countries__title {
  display: none;
}

@media only screen and (min-width: $tablet-width) {
  .countries__link {
    @include set-font(20px, 30px, 400);
  }
}

@media only screen and (min-width: $desktop-width) {
  .countries__title {
    @include set-font(60px, 60px, 700);
    color: $blue-white;
    display: block;
    margin-bottom: 35px;
  }

  .countries {
    display: block;
    margin-bottom: 40px;
  }
}
