.countries-filter {
  @include set-bb-radius(30px);
  position: absolute;
  z-index: 19;
  padding-top: 30px;
  background-color: #e2e5f2;
  width: 100%;
  top: 60px;
  right: 0;
  left: 0;
}

.countries-filter .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.countries-filter__title {
  @include set-font(16px, 22px, 700);
  color: $blue-white;
  text-transform: uppercase;
  padding: 16px 0;
  margin: 0;

  & svg {
    fill: #121936;
    margin-right: 10px;
  }
}

.countries-filter__hide-btn {
  @include set-font(17px, 30px, 700);
  color: $blue-black;
  text-transform: uppercase;
  background-color: #d6daed;
  border-radius: 50px;
  border: 0 none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 25px;
  cursor: pointer;

  & svg {
    fill: #1a2245;
    margin-right: 10px;
  }

  &:hover,
  &:focus {
    background-color: #c8cee8;
  }

  &:active {
    color: rgba($blue-black, 0.3);
  }

  &:active svg {
    opacity: 0.3;
  }
}

.countries-filter__toggle-desc {
  font-size: 0;
  color: $blue-white;
}

.countries-filter__toggle-btn {
  border: 0 none;
  padding: 0;
  background-color: transparent;
  margin-left: auto;
  display: flex;
  align-items: center;
  cursor: pointer;

  & svg {
    fill: $blue-white;
  }

  &:hover svg,
  &:focus svg {
    opacity: 0.6;
  }

  &:hover .countries-filter__toggle-desc,
  &:focus .countries-filter__toggle-desc {
    color: rgba($blue-white, 0.6);
  }

  &:active svg {
    opacity: 0.3;
  }

  &:active .countries-filter__toggle-desc {
    color: rgba($blue-white, 0.3);
  }
}

.countries-filter .continents,
.countries-filter .alphabet,
.countries-filter__countries-container {
  padding-left: 25px;
  padding-right: 25px;
}

.countries-filter .continents {
  padding-top: 20px;
  padding-bottom: 25px;
}

.countries-filter .alphabet {
  padding-top: 50px;
  padding-bottom: 40px;
}

@media only screen and (min-width: $tablet-width) {
  .countries-filter {
    @include set-bb-radius(60px);
    top: 185px;
    padding-top: 60px;
  }

  .countries-filter .container {
    padding-left: 55px;
    padding-right: 55px;
  }

  .countries-filter__toggle-desc {
    @include set-font(20px, 24px, 700);
    display: flex;
    align-items: center;
    text-transform: uppercase;

    & svg {
      width: 18px;
      height: 18px;
      margin-left: 60px;
    }
  }

  .countries-filter__title {
    display: none;
  }

  .countries-filter .continents,
  .countries-filter .alphabet,
  .countries-filter__countries-container {
    padding-left: 0;
    padding-right: 0;
  }

  .countries-filter .continents {
    padding-top: 55px;
    padding-bottom: 55px;
    display: flex;
    order: -1;
  }

  .countries-filter .alphabet {
    margin-right: 50px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .countries-filter__countries-container {
    align-self: flex-start;
  }

  .countries-filter__hide-btn {
    @include set-font(20px, 30px, 700);
    margin-top: 70px;
    margin-bottom: 70px;
    padding-top: 35px;
    padding-bottom: 35px;
    border-radius: 15px;

    & svg {
      width: 18px;
      height: 18px;
      margin-right: 20px;
    }
  }
}

@media only screen and (min-width: $desktop-width) {
  .countries-filter {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    margin-top: -60px;
  }

  .countries-filter__title {
    @include set-font(20px, 24px, 700);
    display: block;
    margin-right: 35px;
    order: -2;

    & svg {
      width: 23px;
      height: 15px;
      margin-right: 20px;
    }
  }

  .countries-filter__countries-container {
    padding-left: 35px;
    padding-right: 35px;
    display: flex;
    flex-wrap: wrap;
  }

  .countries-filter .continents {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-right: 50px;

    &:nth-child(5n) {
      margin-right: 0;
    }
  }

  .countries-filter .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .countries-filter .countries {
    width: 250px;
  }

  .countries-filter__toggle-btn {
    padding-right: 80px;
  }

  .countries-filter .alphabet {
    display: none;
  }

  .countries-filter__hide-btn {
    margin-top: 10px;
    margin-bottom: 60px;
  }
}
