.countries-filter {
  @include set-bb-radius(20px);
  position: absolute;
  z-index: 19;
  padding-top: 30px;
  background-color: #e2e5f2;
  width: 100%;
  top: 127px;
  right: 0;
  left: 0;
}

.countries-filter .countries-filter__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.countries-filter__title {
  @include set-font(16px, 22px, 700);
  color: $blue-white;
  text-transform: uppercase;
  padding-top: 2px;
  padding-bottom: 15px;
  padding-right: 0;
  padding-left: 0;
  margin: 0;

  & svg {
    fill: #121936;
    margin-right: 7px;
  }
}

.countries-filter__hide-btn {
  @include set-font(17px, 30px, 700);
  color: $blue-black;
  text-transform: uppercase;
  background-color: #d6daed;
  border-radius: 50px;
  border: 0 none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 36px;
  margin-bottom: 27px;
  padding: 5px 0;
  cursor: pointer;

  & svg {
    fill: #1a2245;
    margin-right: 10px;
  }

  &:hover,
  &:focus {
    background-color: #c8cee8;
  }

  &:active {
    color: rgba($blue-black, 0.3);
  }

  &:active svg {
    opacity: 0.3;
  }
}

.countries-filter__toggle-desc {
  font-size: 0;
  color: $blue-white;
}

.countries-filter__toggle-btn {
  border: 0 none;
  padding: 0;
  background-color: transparent;
  margin-left: auto;
  margin-top: -15px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  cursor: pointer;

  & svg {
    fill: $blue-white;
  }

  &:hover svg,
  &:focus svg {
    opacity: 0.6;
  }

  &:hover .countries-filter__toggle-desc,
  &:focus .countries-filter__toggle-desc {
    color: rgba($blue-white, 0.6);
  }

  &:active svg {
    opacity: 0.3;
  }

  &:active .countries-filter__toggle-desc {
    color: rgba($blue-white, 0.3);
  }
}

.countries-filter .countries-filter__continents,
.countries-filter .countries-filter__alphabet,
.countries-filter__countries-container {
  padding-left: 25px;
  padding-right: 25px;
}

.countries-filter .countries-filter__continents {
  padding-top: 15px;
  padding-bottom: 22px;
}

.countries-filter .countries-filter__alphabet {
  padding: 0;
  margin-left: 25px;
  margin-right: 24px;
}

.countries-filter__countries-container {
  margin-top: 44px;
  padding-left: 26px;

  & .countries__item {
    margin-top: 1px;
  }
}

@media only screen and (min-width: $tablet-width) {
  .countries-filter {
    @include set-bb-radius(60px);
    top: 316px;
    padding-top: 60px;
  }

  .countries-filter .countries-filter__container {
    padding-left: 55px;
    padding-right: 55px;
  }

  .countries-filter__toggle-btn {
    margin-top: -25px;
  }

  .countries-filter__toggle-desc {
    @include set-font(20px, 24px, 700);
    display: flex;
    align-items: center;
    text-transform: uppercase;

    & svg {
      width: 18px;
      height: 18px;
      margin-left: 27px;
      margin-right: -5px;
    }

    &--hide svg {
      margin-left: 65px;
    }
  }

  .countries-filter__title {
    display: none;
  }

  .countries-filter .countries-filter__continents,
  .countries-filter .countries-filter__alphabet,
  .countries-filter__countries-container {
    padding-left: 0;
    padding-right: 0;
  }

  .countries-filter .countries-filter__continents {
    padding-top: 33px;
    padding-bottom: 57px;
    display: flex;
    order: -1;
  }

  .countries-filter .countries-filter__alphabet {
    margin-left: 0;
    margin-right: 58px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .countries-filter__countries-container {
    margin-top: 0;
    align-self: flex-start;

    & .countries__item {
      margin-top: 0;
    }
  }

  .countries-filter__hide-btn {
    @include set-font(20px, 30px, 700);
    margin-top: 44px;
    margin-bottom: 75px;
    padding-top: 35px;
    padding-bottom: 35px;
    border-radius: 15px;

    & svg {
      width: 18px;
      height: 18px;
      margin-right: 20px;
    }
  }
}

@media only screen and (min-width: $desktop-width) {
  .countries-filter {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    margin-top: -60px;
  }

  .countries-filter__title {
    @include set-font(20px, 24px, 700);
    display: block;
    margin-right: 40px;
    order: -2;
    padding-top: 11px;

    & svg {
      width: 23px;
      height: 15px;
      margin-right: 14px;
    }
  }

  .countries-filter__countries-container {
    padding-left: 16px;
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1px;
  }

  .countries-filter .countries-filter__continents {
    padding-top: 56px;
    padding-bottom: 67px;
    margin-right: 50px;

    &:nth-child(5n) {
      margin-right: 0;
    }
  }

  .countries-filter .countries-filter__container {
    padding-left: 50px;
    padding-right: 15px;
  }

  .countries-filter .countries-filter__countries {
    width: 251px;
  }

  .countries-filter__toggle-btn {
    padding-right: 80px;
    margin-top: -11px;
  }

  .countries-filter .countries-filter__alphabet {
    display: none;
  }

  .countries-filter__hide-btn {
    margin-left: -18px;
    margin-top: 19px;
    margin-bottom: 60px;
  }

  .countries-filter .countries__item {
    margin-top: 0.4px;
  }
}
