.countries {
  @include ul-style-reset;
  display: none;

  &--active {
    display: block;
  }
}

.countries__link {
  @include set-font(16px, 22px, 400);
  color: $grey;

  &:hover,
  &:focus {
    color: #1d2e5b;
  }

  &:active {
    color: rgba(#1d2e5b, 0.3);
  }
}

.countries__title {
  display: none;
}

@media only screen and (min-width: $tablet-width) {
  .countries__link {
    @include set-font(20px, 30px, 400);
  }
}

@media only screen and (min-width: $desktop-width) {
  .countries__title {
    @include set-font(60px, 60px, 700);
    color: $blue-white;
    display: block;
    margin-bottom: 35px;
  }

  .countries {
    display: block;
    margin-bottom: 48px;
  }
}
