.cta {
  background-color: $blue-white;
}

.cta__login {
  color: $yellow;
  text-decoration: underline;
}

.cta .content-title {
  text-align: center;
}

.cta__text {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

@media only screen and (min-width: $tablet-width) {
  .cta .container {
    padding-left: 55px;
    padding-right: 55px;
  }

  .cta__text {
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (min-width: $desktop-width) {
  .cta .container {
    padding-left: 100px;
    padding-right: 100px;
  }

  .cta .contacts-list {
    display: flex;
    justify-content: center;
  }

  .cta .contacts-list__item {
    margin-right: 100px;
    &:last-child {
      margin-right: 0;
    }
  }
}
