.cta {
  background-color: $blue-white;
}

.cta .container {
  padding-top: 70px;
  padding-bottom: 30px;
}

.cta__login {
  color: $yellow;
  text-decoration: underline;
}

.cta .content-title {
  text-align: center;
  margin-bottom: 20px;
}

.cta__text {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.cta .leed-form {
  margin-top: 30px;
  margin-bottom: 20px;
}

@media only screen and (min-width: $tablet-width) {
  .cta .container {
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 75px;
    padding-bottom: 60px;
  }

  .cta__text {
    padding-left: 0;
    padding-right: 0;
  }

  .cta .leed-form {
    margin-top: 60px;
    margin-bottom: 40px;
  }

  .cta .content-title {
    margin-bottom: 50px;
  }

  .cta .contacts-list__icon {
    width: 68px;
    height: 68px;
  }
}

@media only screen and (min-width: $desktop-width) {
  .cta .container {
    padding: 105px 100px;
  }

  .cta .contacts-list {
    display: flex;
    justify-content: space-around;
  }

  .cta .contacts-list__item {
    margin-right: 100px;
    &:last-child {
      margin-right: 0;
    }
  }
}
