.directions {
  @include set-bb-radius(30px);
  margin-top: -30px;
  padding-top: 30px;
  background-color: #edeff6;
  position: relative;
  z-index: 18;
  overflow: hidden;
  clip: rect(auto, auto, auto, auto);
}

.directions .directions__container {
  position: relative;
  padding-top: 70px;
  padding-bottom: 107px;
}

.directions__list {
  @include ul-style-reset;
  margin-top: 63px;
}

.directions__info {
  padding-left: 25px;
  padding-right: 50px;
}

.directions .directions__btn {
  position: absolute;
  bottom: 32px;
  left: 25px;
  width: calc(100% - 25px * 2);
  padding-left: 23px;
  padding-right: 23px;
  border-radius: 10px;
  color: #1d2e5b;

  &:active {
    color: rgba(#1d2e5b, 0.3);
  }
}

.directions .content-title {
  margin-bottom: 20px;
}

.directions .directions__item {
  margin-bottom: 11px;
}

@media only screen and (min-width: $tablet-width) {
  .directions {
    @include set-bb-radius(60px);
    margin-top: -60px;
    padding-top: 60px;
  }

  .directions .directions__item {
    margin-bottom: 10px;
  }

  .directions .directions__container {
    padding-top: 70px;
    padding-bottom: 197px;
    background-image: url("../img/flags-back@1x.png");
    background-repeat: no-repeat;
    background-size: 289px auto;
    background-position: top 80px right 20px;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/flags-back@2x.png");
    }
  }

  .directions .directions__btn {
    bottom: 80px;
    left: 55px;
    width: calc(100% - 55px * 2);
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 15px;
  }

  .directions__info {
    padding-left: 35px;
    padding-right: 300px;
  }

  .directions__list {
    margin-top: 107px;
    padding-left: 35px;
    padding-right: 35px;
    width: 100%;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 141px;
      height: 141px;
      border-radius: 15px;
      top: -50px;
      left: 0;
      background-color: #e2e5f2;
    }
  }

  .directions .directions__title {
    margin-bottom: 60px;
  }
}

@media only screen and (min-width: $desktop-width) {
  .directions .directions__container {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 160px;
    padding-bottom: 140px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: relative;
    background-position: top 87px right 30px;
  }

  .directions__info,
  .directions__list {
    padding-left: 0;
    padding-right: 0;
  }

  .directions__info {
    margin-right: 100px;
    margin-left: 171px;
  }

  .directions__list {
    margin-top: 0;

    &::before {
      top: -71px;
      left: -70px;
    }
  }

  .directions .directions__btn {
    position: static;
    display: flex;
    width: 276px;
    margin-top: 99px;
  }

  .directions .directions__title {
    margin-bottom: 61px;
    margin-top: 2px;
  }
}
