.direction {
  background-color: #ffffff;
  position: relative;
}

.direction__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.direction__title {
  @include set-font(21px, 21px, 700);
  color: $blue-black;
  margin: 0;
  padding: 0;
  width: 50%;
}

.direction__text {
  @include set-font(16px, 18px, 700);
  color: $grey;
  opacity: 0.3;
  padding: 0;
  margin: 0;
  width: 100%;
}

.direction__users {
  @include set-font(16px, 30px, 500);
  color: $grey;
  opacity: 0.3;
  padding: 0;
  margin: 0;
  width: 50%;
  text-align: right;
}

.direction__flag {
  position: absolute;
}

@media only screen and (min-width: $tablet-width) {
  .direction {
    display: flex;
    margin-left: 55px;
    margin-right: 55px;
  }

  .direction__content {
    flex-direction: column;
    width: 435px;
    order: -1;
  }

  .direction__users {
    text-align: left;
  }
}

@media only screen and (min-width: $desktop-width) {
  .direction {
    width: 560px;
    margin-right: 0;
    margin-left: 0;
  }

  .direction__content {
    width: 375px;
  }
}
