.directions {
  background-color: #edeff6;
}

.directions .container {
  position: relative;
  padding-top: 70px;
  padding-bottom: 90px;
}

.directions__list {
  @include ul-style-reset;
  margin-top: 60px;
}

.directions__info {
  padding-left: 25px;
  padding-right: 50px;
}

.directions .button {
  position: absolute;
  bottom: 30px;
  left: 25px;
  width: calc(100% - 25px * 2);
  padding-left: 23px;
  padding-right: 23px;
  border-radius: 10px;
  color: #1d2e5b;

  &:active {
    color: rgba(#1d2e5b, 0.3);
  }
}

.directions .content-title {
  margin-bottom: 20px;
}

.directions .direction {
  margin-bottom: 11px;
}

@media only screen and (min-width: $tablet-width) {
  .directions .container {
    padding-top: 70px;
    padding-bottom: 190px;
    background-image: url("../img/flags-back@1x.png");
    background-repeat: no-repeat;
    background-size: 289px auto;
    background-position: top 70px right;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/flags-back@2x.png");
    }
  }

  .directions .button {
    bottom: 80px;
    left: 55px;
    width: calc(100% - 55px * 2);
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 15px;
  }

  .directions__info {
    padding-left: 35px;
    padding-right: 300px;
  }

  .directions__list {
    margin-top: 105px;
    padding-left: 35px;
    padding-right: 35px;
    width: 100%;
  }

  .directions .content-title {
    margin-bottom: 60px;
  }
}

@media only screen and (min-width: $desktop-width) {
  .directions .container {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 160px;
    padding-bottom: 140px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: relative;
    background-position: top 85px right;
  }

  .directions__info,
  .directions__list {
    padding-left: 0;
    padding-right: 0;
  }

  .directions__info {
    margin-right: 100px;
    margin-left: 175px;
  }

  .directions__list {
    margin-top: 0;
  }

  .directions .button {
    position: static;
    display: flex;
    width: 275px;
    margin-top: 100px;
  }

  .directions .content-title {
    margin-bottom: 50px;
  }
}
