.form-main {
  background-color: #edeff6;
}

.form-main__companion .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

@media only screen and (min-width: $tablet-width) {
  .form-main__companion .container {
    justify-content: space-between;
    padding-left: 55px;
    padding-right: 55px;
  }
}

@media only screen and (min-width: $desktop-width) {
  .form-main__companion .container {
    margin-top: -190px;
    justify-content: flex-end;
    padding-right: 65px;
    padding-left: 0;
  }
}
