.input-numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.input-numbers__label {
  @include set-font(16px, 16px, 700);
  color: #1d2e5b;
  text-transform: uppercase;
  width: 80%;
  margin-bottom: 10px;

  &--opacity {
    opacity: 0.3;
    width: 20%;
    text-align: right;
  }
}

.input-numbers__input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  height: 45px;
  border: 1px solid #cbced9;
  text-align: center;
  border-radius: 3px;

  &:hover,
  &:focus {
    border-color: #959bb2;
  }

  &:active {
    border-color: $blue-black;
  }
}

.input-numbers__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  margin-bottom: 20px;
  height: 45px;
  padding: 0;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  border: 0 none;

  &--increase {
    right: 0;
  }

  &--reduce {
    left: 0;
  }

  & svg {
    fill: #606161;
    opacity: 0.3;
  }

  &:hover svg,
  &:focus svg {
    opacity: 0.4;
  }

  &:active svg {
    opacity: 0.1;
  }
}

@media only screen and (min-width: $tablet-width) {
  .input-numbers__label {
    @include set-font(20px, 20px, 500);
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .input-numbers__input {
    margin-bottom: 25px;
    height: 70px;
  }

  .input-numbers__btn {
    margin-bottom: 25px;
    height: 70px;

    &--increase svg {
      width: 20px;
      height: 20px;
    }

    &--reduce svg {
      width: 20px;
      height: 2px;
    }
  }
}

@media only screen and (min-width: $desktop-width) {
  .input-numbers {
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
  }

  .input-numbers__input {
    margin-bottom: 0;
    width: 180px;
  }

  .input-numbers__btn {
    width: 10%;
    margin-bottom: 0;

    &--increase {
      right: 95px;
    }

    &--reduce {
      right: 220px;
      left: auto;
    }
  }

  .input-numbers__label {
    padding-top: 0;
    padding-bottom: 0;
    width: 50%;

    &--opacity {
      margin-left: 35px;
      width: auto;
      opacity: 1;
      order: 1;
    }
  }
}

