.input-numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input-numbers__label {
  @include set-font(16px, 16px, 700);
  color: #1d2e5b;
  text-transform: uppercase;
  width: 80%;
  margin-bottom: 10px;

  &--opacity {
    opacity: 0.3;
    width: 20%;
    text-align: right;
  }
}

.input-numbers__input {
  display: block;
  width: 70%;
  margin-bottom: 20px;
  height: 45px;
  border-top: 1px solid #cbced9;
  border-bottom: 1px solid #cbced9;
  border-right: 0 none;
  border-left: 0 none;
}

.input-numbers__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  margin-bottom: 20px;
  height: 45px;
  padding: 0;
  background-color: transparent;
  border: 1px solid #cbced9;

  &--increase {
    border-left: 0 none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  &--reduce {
    border-right: 0 none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }

  & svg {
    fill: #606161;
    opacity: 0.3;
  }
}

@media only screen and (min-width: $tablet-width) {
  .input-numbers__label {
    @include set-font(20px, 20px, 500);
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .input-numbers__input {
    margin-bottom: 25px;
    height: 70px;
  }

  .input-numbers__btn {
    margin-bottom: 25px;
    height: 70px;

    &--increase {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &--reduce {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &--increase svg {
      width: 20px;
      height: 20px;
    }

    &--reduce svg {
      width: 20px;
      height: 2px;
    }
  }
}

@media only screen and (min-width: $desktop-width) {
  .input-numbers {
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 30px;

    &--duration {
      padding-top: 0;
      padding-bottom: 30px;
      margin-bottom: 0;
    }
  }

  .input-numbers__input {
    margin-bottom: 0;
    width: 16%;
  }

  .input-numbers__btn {
    margin-bottom: 0;
    width: 10%;
  }

  .input-numbers__label {
    padding-top: 0;
    padding-bottom: 0;
    width: 50%;
    &--opacity {
      margin-left: 35px;
      width: auto;
      opacity: 1;
      order: 1;
    }
  }
}

