.intro {
  background-color: $blue-black;
  padding-top: 25px;
  padding-bottom: 40px;
}

.intro .quote {
  margin: 0;
  padding: 0;
}

.intro .contacts-list {
  display: flex;
  justify-content: space-between;
  margin-top: 245px;
}

.intro .contacts-list__item--auth {
  flex-grow: 1;
}

.intro .button {
  display: block;
  width: 100%;
}

.intro .page-title {
  text-align: center;
}

.intro .quote {
  padding-left: 25px;
  padding-right: 90px;
  padding-top: 30px;
  padding-bottom: 35px;
}

@media only screen and (min-width: $tablet-width) {
  .intro {
    padding-top: 40px;
    padding-bottom: 95px;
  }

  .intro .contacts-list {
    display: none;
  }

  .intro .page-title {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
  }

  .intro .quote {
    width: 270px;
    margin-left: 50px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (min-width: $desktop-width) {
  .intro {
    padding-top: 105px;
    padding-bottom: 120px;
  }

  .intro .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .intro .page-title {
    margin-right: 0;
    margin-left: 70px;
    text-align: left;
  }

  .intro .quote {
    padding-top: 0;
    padding-bottom: 0;
  }

  .intro .start-steps {
    margin-top: 100px;
  }
}
