.leed-form {
  display: flex;
  flex-wrap: wrap;
}

.leed-form__input {
  @include set-font(18px, 18px, 700);
  padding: 0 20px;
  color: rgba($grey, 0.3);
  flex-grow: 1;
  height: 62px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  background-color: #ffffff;
  border: 4px solid #ffffff;
  width: 220px;

  &::-webkit-input-placeholder {
    color: rgba($grey, 0.3);
  }

  &::-moz-placeholder {
    color: rgba($grey, 0.3);
  }

  &:-ms-input-placeholder {
    color: rgba($grey, 0.3);
  }

  &:-moz-placeholder {
    color: rgba($grey, 0.3);
  }

  &:hover {
    color: rgba($grey, 0.5);
    background-color: #edeff6;
    border-color: #edeff6;
  }

  &:active,
  &:focus {
    background-color: transparent;
    border-color: #ffffff;
    color: #ffffff;
  }

  &:active::-webkit-input-placeholder,
  &:focus::-webkit-input-placeholder {
    color: rgba(#ffffff, 0.7);
  }

  &:active::-moz-placeholder,
  &:focus::-moz-placeholder {
    color: rgba(#ffffff, 0.7);
  }

  &:focus::-ms-input-placeholder,
  &:active:-ms-input-placeholder {
    color: rgba(#ffffff, 0.7);
  }

  &:focus:-moz-placeholder,
  &:active:-moz-placeholder {
    color: rgba($grey, 0.7);
  }

  &:invalid {
    background-color: #ffefef;
    border-color: #ffefef;
    color: #ff0000;
  }

  &:invalid::-webkit-input-placeholder {
    color: rgba($grey, 0.15);
  }

  &:invalid::-moz-placeholder {
    color: rgba($grey, 0.15);
  }

  &:invalid:-ms-input-placeholder {
    color: rgba($grey, 0.15);
  }

  &:invalid:-moz-placeholder {
    color: rgba($grey, 0.15);
  }
}

.leed-form__description {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.leed-form__button {
  font-size: 0;
  border: 0 none;
  border-radius: 15px;
  margin-left: -15px;
  padding: 0;
  background-color: $yellow;
  width: 60px;
  color: #1d2e5b;
  cursor: pointer;
  padding-left: 4px;

  &:hover,
  &:focus {
    background-color: #ffbd30;
  }

  &:active {
    color: rgba(#1d2e5b, 0.3);
  }

  &:active svg {
    opacity: 0.3;
  }

  & svg {
    fill: #1d2e5b;
  }
}

@media only screen and (min-width: $tablet-width) {
  .leed-form__description {
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    margin-top: 56px;
    margin-left: 8px;
  }

  .leed-form__input {
    @include set-font(24px, 24px, 700);
    height: 82px;
    padding: 0 30px;
  }

  .leed-form__button {
    width: 80px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
    padding: 0;
  }
}

@media only screen and (min-width: $desktop-width) {
  .leed-form__description {
    justify-content: center;
    margin-top: 66px;
  }

  .leed-form__description .leed-form__text {
    &:last-child {
      padding-left: 5px;
      margin-left: 0;
      letter-spacing: 0.7px;
    }

    &:first-child {
      margin-left: -6px;
      margin-right: 2px;
    }
  }

  .leed-form__button {
    @include set-font(24px, 24px, 700);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 327px;
    padding-left: 35px;
    padding-right: 40px;
  }
}
