.leed-form {
  display: flex;
  flex-wrap: wrap;
}

.leed-form__input {
  color: rgba($grey, 0.3);
  flex-grow: 1;
  height: 62px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  background-color: #ffffff;
  border: 4px solid #ffffff;

  &:hover {
    color: rgba($grey, 0.5);
    background-color: #edeff6;
    border-color: #edeff6;
  }

  &:active,
  &:focus {
    background-color: transparent;
    border-color: #ffffff;
    color: #ffffff;
  }

  &:invalid {
    background-color: #ffefef;
    border-color: #ffefef;
    color: #ff0000;
  }
}

.leed-form__description {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.leed-form__button {
  font-size: 0;
  border: 0 none;
  border-radius: 15px;
  margin-left: -15px;
  padding: 0;
  background-color: $yellow;
  width: 60px;
}

@media only screen and (min-width: $tablet-width) {
  .leed-form__description {
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    margin-top: 60px;
  }

  .leed-form__input {
    height: 82px;
  }

  .leed-form__button {
    width: 80px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
  }
}

@media only screen and (min-width: $desktop-width) {
  .leed-form__description {
    justify-content: center;
    margin-top: 70px;
  }

  .leed-form__button {
    @include set-font(24px, 24px, 700);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #1d2e5b;
    width: 320px;
    padding-left: 35px;
    padding-right: 35px;
  }
}
