.main-title {
  @include set-bb-radius(19px);
  position: relative;
  z-index: 20;
  width: 100%;
  background-color: $blue-black;
}

.main-title .main-title__container {
  padding-top: 89px;
  padding-bottom: 12px;
}

.main-title__link {
  display: none;
}

@media only screen and (min-width: $tablet-width) {
  .main-title {
    @include set-bb-radius(60px);
  }

  .main-title .main-title__container {
    padding-left: 54px;
    padding-right: 54px;
    padding-top: 214px;
    padding-bottom: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-title__link {
    @include set-font(20px, 24px, 700);
    text-transform: uppercase;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

    & svg {
      fill: #ffffff;
      margin-left: 30px;
    }

    &:hover,
    &:focus {
      color: rgba(#ffffff, 0.6);
    }

    &:hover svg,
    &:focus svg {
      opacity: 0.6;
    }

    &:active {
      color: rgba(#ffffff, 0.3);
    }

    &:active svg {
      opacity: 0.3;
    }
  }
}

@media only screen and (min-width: $desktop-width) {
  .main-title .main-title__container {
    padding-left: 96px;
    padding-right: 96px;
    padding-top: 213px;
    padding-bottom: 69px;
  }

  .main-title__link svg {
    margin-left: 26px;
  }
}
