.main__background {
  width: 100%;
  background-color: $blue-black;
}

.main__link {
  display: none;
}

@media only screen and (min-width: $tablet-width) {
  .main__wrapper {
    width: 620px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main__link {
    @include set-font(20px, 24px, 700);
    color: #ffffff;
    display: block;
  }
}

@media only screen and (min-width: $desktop-width) {
  .main__wrapper {
    width: 1190px;
  }
}
