.page-footer {
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  background-color: #ffffff;
  position: relative;
  z-index: 5;
}

.page-footer .container {
  padding-top: 38px;
  padding-bottom: 14px;
}

.page-footer__logo-link {
  display: block;
  text-align: center;

  & .logo {
    margin-right: auto;
    margin-left: auto;
  }
}

.page-footer .social-list {
  margin-top: 37px;
  margin-bottom: 37px;
}

.page-footer .social-list__link {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $yellow;
  border-radius: 50%;

  &:hover,
  &:focus {
    background-color: #ffbd30;
  }
}

.page-footer .social-list__item {
  margin-right: 0;
}

.page-footer .social-list__icon {
  fill: #1d2e5b;
}

@media only screen and (min-width: $tablet-width) {
  .page-footer {
    border-top-right-radius: 55px;
    border-top-left-radius: 55px;
  }

  .page-footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .page-footer .social-list {
    margin: 0;
    margin-left: -7px;
  }

  .page-footer .social-list__link {
    width: 60px;
    height: 60px;
  }

  .page-footer .social-list__icon {
    width: 24px;
    height: 28px;
  }

  .page-footer .copyright {
    margin-top: 10px;
  }
}

@media only screen and (min-width: $desktop-width) {
  .page-footer .container {
    padding-top: 47px;
    padding-bottom: 50px;
  }

  .page-footer .social-list {
    margin-left: -45px;
  }
}
