.page-footer {
  background-color: #ffffff;
}

.page-footer .container {
  padding-top: 38px;
  padding-bottom: 14px;
}

.page-footer__logo-link {
  display: block;
  text-align: center;
}

.page-footer .social-list {
  margin: 40px 0;
}

.page-footer .social-list__item {
  margin-right: 0;
}

.page-footer .social-list__link {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $yellow;
  border-radius: 50%;
}

.page-footer .social-list__icon {
  fill: #1d2e5b;
}

@media only screen and (min-width: $tablet-width) {
  .page-footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .page-footer .social-list {
    margin: 0;
  }

  .page-footer .social-list__link {
    width: 60px;
    height: 60px;
  }

  .page-footer .social-list__icon {
    width: 24px;
    height: 28px;
  }
}

@media only screen and (min-width: $desktop-width) {
  .page-footer .container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
