.plans {
  background-color: #dfe3f0;
}

.plans .container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.plans__title {
  @include set-font(24px, 24px, 700);
  color: #1d2e5b;
  margin: 0;
  padding: 0;
}

.plans__list {
  @include ul-style-reset;
  counter-reset: plans-list-counter;
  margin-top: 30px;
}

.plans__list .plan__title {
  &::before {
    counter-increment: plans-list-counter;
    content: counter(plans-list-counter) ".";
    color: #1d2e5b;
  }
}

@media only screen and (min-width: $tablet-width) {
  .plans .container {
    padding-top: 50px;
    padding-bottom: 70px;
  }

  .plans__list .plan__title {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .plans__title {
    @include set-font(36px, 50px, 700);
  }

  .plans__list {
    margin-top: 35px;
  }
}

@media only screen and (min-width: $desktop-width) {
  .plans__list .plan__title {
    display: block;

    &::before {
      margin-right: 35px;
    }
  }

  .plans .container {
    padding-top: 55px;
    padding-bottom: 60px;
  }
}
