.plans {
  background-color: #dfe3f0;
}

.plans__title {
  @include set-font(24px, 24px, 700);
  color: #1d2e5b;
  margin: 0;
  padding: 0;
}

.plans__list {
  @include ul-style-reset;
  counter-reset: plans-list-counter;
}

.plans__list .plan__title {
  &::before {
    counter-increment: plans-list-counter;
    content: counter(plans-list-counter) ".";
    color: #1d2e5b;
  }
}

@media only screen and (min-width: $tablet-width) {
  .plans__list .plan__title {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

@media only screen and (min-width: $desktop-width) {
  .plans__list .plan__title {
    display: block;

    &::before {
      margin-right: 35px;
    }
  }
}
