.quote .content-text {
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }
}


@media only screen and (min-width: $desktop-width) {
  .quote .content-text {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
