.rates {
  @include set-bb-radius(30px);
  position: relative;
  margin-top: -30px;
  padding-top: 30px;
  z-index: 16;
  background-color: #edeff6;
}

.rates__modal-show {
  @include set-font(16px, 16px, 700);
  color: $blue-white;
  border: 0 none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;

  &:hover,
  &:focus {
    color: rgba(#132576, 0.7);
  }

  &:hover svg,
  &:focus svg {
    opacity: 0.7;
  }

  &:active {
    color: rgba(#132576, 0.3);
  }

  &:active svg {
    opacity: 0.3;
  }
}

.rates .container {
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 40px;
  position: relative;
}

.rates .content-title {
  padding-right: 140px;
}

.rates__img {
  position: absolute;
  top: 40px;
  right: 25px;
}

.rates__list {
  @include ul-style-reset;
  padding-left: 0;
  counter-reset: rates-counter;
  margin-top: 40px;
  margin-bottom: 30px;
}

.rates__item {
  list-style: none;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(#000000, 0.05);
  margin-right: 40px;

  &::after {
    @include set-font(16px, 16px, 400);
    padding: 9px 12px;
    background-color: #ffa530;
    border-radius: 50%;
    counter-increment: rates-counter;
    content: counter(rates-counter);
    color: #ffffff;
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    right: -40px;
    top: 15px;
  }

  &:first-child {
    border-top: 1px solid rgba(#000000, 0.05);
  }

  &:nth-child(2)::after {
    background-color: #ffbd30;
  }

  &:nth-child(3)::after {
    background-color: #ffd74b;
  }
}

.rates__business-icon {
  display: none;
}

@media only screen and (min-width: $tablet-width) {
  .rates {
    @include set-bb-radius(60px);
    margin-top: -60px;
    padding-top: 60px;
  }

  .rates .container {
    padding-left: 20px;
    padding-top: 70px;
    padding-bottom: 60px;
  }

  .rates__list {
    margin-top: 75px;
    margin-bottom: 35px;
  }

  .rates .content-title {
    padding-right: 0;
    text-align: center;
  }

  .rates__img {
    top: auto;
    bottom: 75px;
  }

  .rates__modal-show {
    @include set-font(20px, 20px, 700);
    display: flex;
    align-items: center;
    padding-top: 23px;
    padding-bottom: 23px;
    color: #132576;
  }

  .rates__item {
    display: flex;
    justify-content: space-between;
    padding-top: 17px;
    padding-bottom: 17px;
    margin-right: auto;
    margin-left: 85px;

    &::after {
      @include set-font(28px, 28px, 400);
      padding: 19px 26px;
      right: auto;
      left: -85px;
      top: 0;
    }
  }

  .rates__business-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e2e5f2;
    border-radius: 50%;
    margin-right: 23px;
    width: 67px;
    height: 67px;

    & svg {
      fill: #132576;
    }
  }
}

@media only screen and (min-width: $desktop-width) {
  .rates .container {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 165px;
  }

  .rates__list {
    padding-right: 375px;
    margin-top: 130px;
    margin-bottom: 30px;
  }

  .rates__img {
    width: 198px;
    height: 198px;
    bottom: 50%;
    transform: translateY(50%);
    right: 365px;
  }
}
