.rates {
  background-color: #edeff6;
}

.rates__modal-show {
  @include set-font(16px, 16px, 700);
  color: $blue-white;
  border: 0 none;
  background-color: transparent;
}

.rates .container {
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 40px;
  position: relative;
}

.rates .content-title {
  padding-right: 140px;
}

.rates__img {
  position: absolute;
  top: 40px;
  right: 25px;
}

.rates__list {
  @include ul-style-reset;
  padding-left: 0;
  counter-reset: rates-counter;
}

.rates__item {
  list-style: none;
  position: relative;
  &::after {
    counter-increment: rates-counter;
    content: counter(rates-counter);
    color: #ffffff;
    position: absolute;
    display: inline-block;
    text-align: right;
    right: 0;
    top: 0;
  }
}

@media only screen and (min-width: $tablet-width) {
  .rates .container {
    padding-left: 20px;
  }

  .rates .content-title {
    padding-right: 0;
    text-align: center;
  }

  .rates__img {
    top: auto;
    bottom: 0;
  }

  .rates__modal-show {
    padding-left: 50px;
  }

  .rates__item {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    &::after {
      right: auto;
      left: 0;
    }
  }
}

@media only screen and (min-width: $desktop-width) {
  .rates .container {
    padding-left: 100px;
    padding-right: 100px;
  }

  .rates__list {
    width: 815px;
  }

  .rates__img {
    bottom: 50%;
    transform: translateY(57%);
    right: 365px;
  }
}
