.start-steps__link {
  @include set-font(18px, 18px, 700);
  color: $blue-black;
  display: block;
  padding-top: 22px;
}

.start-steps {
  @include ul-style-reset;
  padding-left: 0;
  counter-reset: start-steps-counter;
  width: 100%;
}

.start-steps__item {
  background-color: $orange;
  list-style: none;
  display: flex;
  justify-content: space-between;
  min-height: 90px;
  padding-left: 25px;
  padding-right: 21px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  margin-top: -10px;

  &::after {
    @include set-font(18px, 18px, 700);
    counter-increment: start-steps-counter;
    content: counter(start-steps-counter);
    color: #ffffff;
    display: block;
    padding-top: 22px;
  }

  &:nth-child(2) {
    background-color: #ffa530;
  }

  &:nth-child(3) {
    background-color: #ffbd30;
  }

  &:nth-child(4) {
    background-color: #ffd74b;
  }

  &:last-child {
    min-height: 80px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

@media only screen and (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .start-steps {
    display: flex;
    flex-wrap: wrap;
  }

  .start-steps__link {
    @include set-font(24px, 24px, 700);
    padding-top: 0;
  }

  .start-steps__item {
    width: 50%;
    flex-direction: column;
    margin-top: 0;
    border-radius: 0;
    padding: 30px;
    border-top-left-radius: 10px;

    &:nth-child(2) {
      border-top-right-radius: 10px;
    }

    &:nth-child(3) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 10px;
    }

    &:nth-child(4) {
      border-bottom-left-radius: 10px;
      border-top-left-radius: 0;
    }

    &:nth-child(even) {
      margin-left: -10px;
      flex-grow: 1;
    }

    &::after {
      @include set-font(30px, 30px, 700);
      padding-top: 0;
      margin-top: 7px;
    }
  }
}

@media only screen and (min-width: $desktop-width) {
  .start-steps {
    display: flex;
    flex-wrap: wrap;
  }

  .start-steps__item {
    padding: 30px 55px 30px 35px;
    width: 25%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    margin-left: -10px;
    margin-top: 0;
    flex-grow: 1;

    &::after {
      @include set-font(30px, 30px, 700);
      padding-top: 0;
    }

    &:first-child {
      margin-left: 0;
      flex-grow: 0;
    }

    &:last-child {
      border-top-right-radius: 10px;
    }
  }

  .start-steps__link {
    @include set-font(24px, 24px, 700);
    padding-top: 0;
  }
}
