.step {
  background-color: #ffffff;
  padding: 25px 25px 20px 25px;
  margin-bottom: 10px;
  position: relative;
  border-radius: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.step__nav {
  display: none;
}

.step__title {
  @include set-font(20px, 20px, 700);
  color: #1d2e5b;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}

.step .country-select {
  width: 100%;
}

.step__country-label {
  @include set-font(18px, 18px, 500);
  color: #1d2e5b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #1d2e5b;
    left: 0;
    bottom: 50%;
    transform: translateY(50%) translateX(-50%);
  }

  &::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 14px;
    left: -14px;
    bottom: 50%;
    transform: translateY(50%);
    background-color: #1d2e5b;
  }
}

.step__country-title {
  padding-left: 12px;
  width: 155px;
  text-overflow: clip;
  overflow: hidden;
  white-space: nowrap;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 15px;
    background: linear-gradient(to right, rgba(#ffffff, 0.4), #ffffff 100%);
  }
}

.step__btn {
  @include set-font(17px, 30px, 700);
  width: 100%;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #1d2e5b;

  & svg {
    display: none;
  }
}

.step__btn.button--transparent {
  margin-top: 10px;
}

.step .content-text {
  margin-bottom: 20px;
}

.step .checkbox {
  display: block;
  margin-bottom: 20px;
}

.step__textarea-wrapper {
  position: relative;
  width: 100%;

  &--line::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 279px;
    top: -26px;
    left: -14px;
    background-color: #1d2e5b;
  }
}

.step__textarea-invalid {
  @include set-font(16px, 16px, 400);
  color: #ff0000;
  background-color: #ffefef;
  border-radius: 4px;
  width: 100%;
  height: 60px;
  padding: 10px 15px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  display: none;
}

.step__textarea {
  @include set-font(16px, 22px, 400);
  color: $grey;
  display: block;
  width: 100%;
  height: 220px;
  resize: none;
  border: 1px solid #cbced9;
  border-radius: 3px;
  margin-bottom: 20px;
  position: relative;
  background-color: transparent;
  z-index: 2;
  padding: 12px 13px;

  &:hover,
  &:focus {
    border-color: #959bb2
  }

  &:active {
    border-color: $blue-black;
  }

  &:invalid {
    border-color: #f47e7e;
  }

  &:invalid ~ .step__textarea-invalid {
    display: block;
  }

  &::-webkit-input-placeholder {
    color: rgba($grey, 0.3);
  }
  &::-moz-placeholder {
    color: rgba($grey, 0.3);
  }
  &:-ms-input-placeholder {
    color: rgba($grey, 0.3);
  }
  &:-moz-placeholder {
    color: rgba($grey, 0.3);
  }
}

.step__btn--fwd {

  &:hover,
  &:focus {
    background-color: #ffbd30;
  }
}

.step__btn--back {
  &:hover,
  &:focus {
    background-color: transparent;
    color: rgba(#1d2e5b, 0.7);
  }

  &:hover svg,
  &:focus svg {
    opacity: 0.7;
  }
}

.step__btn {

  &:active {
    color: rgba(#1d2e5b, 0.3);
  }

  &:active svg {
    opacity: 0.3;
  }
}

@media only screen and (min-width: $tablet-width) {
  .step {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 45px;
    margin-bottom: 40px;
    border-radius: 15px;
  }

  .step__textarea {
    @include set-font(20px, 24px, 400);
    padding: 20px 18px;
    height: 142px;
  }

  .step__title {
    @include set-font(36px, 36px, 700);
    margin-bottom: 30px;
  }

  .step__btn {
    @include set-font(24px, 30px, 700);
    padding-top: 26px;
    padding-bottom: 26px;
    margin-top: 45px;
    border-radius: 15px;
    text-transform: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
    order: 3;

    & svg {
      display: block;
      fill: #1d2e5b;
    }
  }

  .step__btn.button--transparent {
    margin-top: 45px;
    margin-left: auto;
  }

  .step__country-label {
    @include set-font(30px, 30px, 700);
    width: 100%;
    margin-top: 35px;
    margin-bottom: 30px;

    & img {
      margin-right: 30px;
      width: 70px;
      height: 47px;
    }

    &::after {
      display: none;
    }

    &::before {
      left: auto;
      right: 0;
      transform: translateY(50%) translateX(50%);
      width: 15px;
      height: 15px;
    }
  }

  .step__country-title {
    width: 400px;
    padding-left: 0;
  }

  .step__textarea-wrapper {
    width: calc(100% - 30px);

    &::before {
      width: 3px;
      left: auto;
      right: -32px;
      top: -57px;
    }
  }

  .step__textarea-invalid {
    font-size: 20px;
    height: 57px;
    padding: 17px 24px 20px;
    bottom: 20px;
  }

  .step .content-text {
    margin-bottom: 40px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background-color: #d6d9e6;
      left: 0;
      bottom: -35px;
    }
  }

  .step .calendar {
    width: 100%;
    order: 2;
  }

  .step .input-numbers--duration {
    order: 1;
  }

  .step .input-numbers {
    width: 100%;
  }

  .step .checkbox {
    display: block;
    margin-bottom: 0;
    padding-bottom: 30px;
  }

  .step .checkbox__text {
    text-transform: uppercase;
    font-weight: 500;
  }

  .step--countries .content-text {
    margin-bottom: 70px;
    position: relative;
  }
}

@media only screen and (min-width: $desktop-width) {
  .step {
    padding: 100px 160px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 25px;
  }

  .step__title {
    margin-bottom: 40px;
  }

  .step__btn {
    width: 30%;
    order: 3;
    margin-top: 60px;
  }

  .step__btn.button--transparent {
    margin-top: 60px;
  }

  .step .calendar {
    width: 100%;
    order: 2;
  }

  .step .input-numbers--duration {
    order: 1;
  }

  .step__title,
  .step .content-text {
    width: 70%;
  }

  .step .content-text {
    @include set-font(20px, 24px, 400);
    margin-bottom: 80px;

    &:after {
      width: 1000px;
      bottom: -55px;
    }

    &--countries {
      margin-bottom: 110px;
    }
  }

  .step__nav {
    display: flex;
    flex-direction: column;
    margin-top: -70px;
    width: 30%;
  }

  .step__nav-link {
    @include set-font(20px, 20px, 400);
    text-transform: uppercase;
    color: #000000;
    opacity: 0.6;
    margin-bottom: 25px;
    padding-left: 165px;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    &[href] {
      opacity: 1;
    }

    &::before {
      position: absolute;
      content: "";
      width: 5px;
      height: 5px;
      bottom: 50%;
      transform: translateY(50%);
      left: 125px;
      background-color: #1d2e5b;
      border-radius: 50%;
    }
  }

  .step__title br {
    display: none;
  }

  .step__textarea-wrapper {
    margin-right: 270px;
  }

  .step .input-numbers {
    width: 55%;
  }

  .step .checkbox {
    padding-bottom: 0;
    align-self: center;
  }

  .step__country-label {
    & img {
      margin-right: 115px;
    }

    &::before {
      right: 239px;
    }
  }

  .step__textarea {
    padding: 27px 18px 20px 26px;
  }
}
