.travel-filter {
  background-color: $yellow;
  padding: 25px;
  border-radius: 25px;
}

.travel-filter__form {
  padding-top: 23px;
}

.travel-filter .transport {
  justify-content: flex-start;
  margin-top: 5px;
  margin-bottom: 19px;
}

.travel-filter__label {
  display: block;
  padding-top: 4px;
  padding-bottom: 8px;

  &:last-child {
    margin-bottom: 10px;
  }
}

.travel-filter__level {
  display: flex;
  justify-content: space-between;
  height: 35px;
  margin-top: 2px;
  margin-bottom: 2px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    z-index: 2;
    bottom: 50%;
    right: 50%;
    transform: translateX(50%) translateY(50%);
    width: 21px;
    height: 15px;
    background-image: url("../img/line.svg");
    background-size: 21px 2px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffffff;
  }
}

.travel-filter__level-number {
  @include set-font(15px, 15px, 500);
  color: #1d2e5b;
  text-align: center;
  width: 50%;
  background-color: #ffffff;
  border: 1px solid #cbced9;

  &:hover,
  &:focus {
    border-color: #959bb2;
  }

  &:active {
    border-color: $blue-black;
  }
}

.travel-filter__title {
  @include set-font(22px, 23px, 700);
  color: #1d2e5b;
  padding: 0;
  margin: 0;
  letter-spacing: 0.3px;
}

.travel-filter__show-btn {
  @include set-font(16px, 18px, 700);
  color: #1d2e5b;
  text-transform: uppercase;
  border: 0 none;
  background-color: transparent;
  padding: 11px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;

  &:hover,
  &:focus {
    color: rgba(#1d2e5b, 0.6);
  }

  &:hover .travel-filter__btn-svg,
  &:focus .travel-filter__btn-svg {
    opacity: 0.6;
  }

  &:active {
    color: rgba(#1d2e5b, 0.3);
  }

  &:active .travel-filter__btn-svg {
    opacity: 0.3;
  }
}

.travel-filter__btn-svg {
  fill: #1d2e5b;

  @media only screen and (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
    display: none;
  }
}

.travel-filter__submit-btn {
  @include set-font(17px, 30px, 700);
  color: $blue-black;
  text-transform: uppercase;
  border: 0 none;
  background-color: #ffffff;
  display: block;
  width: calc(100% + 10px);
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 50px;
  margin-top: 25px;
  margin-bottom: -2px;
  margin-left: -5px;
  margin-right: -5px;

  &:hover,
  &:focus {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    color: rgba($blue-black, 0.3);
    background-color: #f3c72b;
  }
}

.travel-filter__slider {
  margin-top: 24px;
}

.travel-filter__fieldset {
  border: 0 none;
  border-top: 1px solid #f3c72b;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: $tablet-width - 1px), (min-width: $desktop-width) {
  .travel-filter__fieldset {
    & .travel-filter__label,
    & .transport,
    & .travel-filter__level,
    & .travel-filter__slider {
      display: none;
    }

    &--opened .travel-filter__label,
    &--opened .transport,
    &--opened .travel-filter__level,
    &--opened .travel-filter__slider {
      display: flex;
    }

    &--opened .travel-filter__btn-svg {
      transform: rotate(180deg);
    }
  }
}

@media only screen and (min-width: $tablet-width) {
  .travel-filter {
    padding: 35px;
  }

  .travel-filter__form {
    margin-top: 35px;
    padding-top: 35px;
    border-top: 1px solid #f3c72b;
  }

  .travel-filter__title {
    @include set-font(30px, 30px, 700);
    letter-spacing: -0.1px;
  }

  .travel-filter__fieldset {
    display: flex;
    align-items: flex-start;
    margin-bottom: 14px;
    border-top: 0 none;

    &--transport {
      margin-top: -7px;
      align-items: baseline;
    }

    &--level {
      margin-top: -9px;
    }
  }

  .travel-filter__show-btn {
    @include set-font(20px, 30px, 500);
    width: 120px;
    text-align: left;
    padding: 0;
    order: -2;
  }

  .travel-filter__slider {
    order: -1;
    width: 272px;
    margin-top: 12px;
    margin-left: 5px;
  }

  .travel-filter__label {
    width: 170px;
    text-align: left;
    padding: 0;
    margin-top: 2px;
    margin-left: 19px;
  }

  .travel-filter__submit-btn {
    @include set-font(20px, 30px, 700);
    padding: 10px 0;
    margin-top: 44px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    width: 100%;

    &::before {
      position: absolute;
      content: "";
      top: -37px;
      right: 0;
      width: 100%;
      height: 1px;
      background-color: #f3c72b;
    }
  }

  .travel-filter__level {
    margin-top: -8px;
    margin-bottom: 30px;
    height: 45px;
    width: 24%;
    margin-left: auto;
  }

  .travel-filter__level-number {
    @include set-font(20px, 20px, 500);
  }
}

@media only screen and (min-width: $desktop-width) {
  .travel-filter {
    padding: 45px;
  }

  .travel-filter__form {
    padding-top: 30px;
    margin-top: 0;
    border-top: 0 none;
  }

  .travel-filter__fieldset {
    display: block;
    margin-bottom: 0;

    &--transport {
      margin-top: 5px;
    }

    &--level {
      margin-top: 30px;
    }
  }

  .travel-filter__label {
    width: 100%;
    margin-top: 20px;
    margin-bottom: -4px;
    margin-left: 2px;

    &:last-child {
      margin-bottom: 27px;
    }
  }

  .travel-filter__show-btn {
    width: 100%;
    margin-bottom: 13px;
  }

  .travel-filter__level {
    margin-top: 15px;
    margin-bottom: 0;
    width: 100%;
  }

  .travel-filter__slider {
    order: 1;
    margin-top: 37px;
    width: 96%;
    margin-left: 2px;
  }

  .travel-filter__submit-btn {
    width: 103%;

    &::before {
      display: none;
    }
  }
}
