@mixin set-font($size: 16px, $line-height: 22px, $font-weight: 300) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $font-weight;
}

@mixin ul-style-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin circle($width, $color) {
  width: $width;
  height: $width;
  background: $color;
  border-radius: $width/2;
}

@mixin set-bb-radius($radius: 30px) {
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}
