@mixin set-font($size: 16px, $line-height: 22px, $font-weight: 300) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $font-weight;
}

@mixin ul-style-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}
